<h1>All Comments</h1>

<table class="zebra">
  <tr>
    <th>Commenter</th>
    <th>About</th>
    <th>Body</th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= h comment.author %></td>
    <td><%= link_to comment.position_name, comment.position %></td>
    <td><%= h comment.position_id %></td>
    <td><%= h comment.body %></td>
  </tr>
<% end %>
</table>
