<p>
  <b>Commenter:</b>
  <%=@comment.user.author %>
</p>

<p>
  <b>Body:</b>
  <%=@comment.body %>
</p>

<%= link_to image_tag("remove.png"), @comment, :confirm => "Are you sure?", :method => :delete, :remote => true %>
