#footer_wrapper {
  position: relative;
  height: 150px;
  width: 1120px;
  margin: 0px auto;
  margin-top: -150px;
  clear: both;
  z-index: -1;
}

#footer {
  width:1045px;
  margin: 40px 20px;
  padding: 20px;
  border-top: 1px dashed #C9C9C9;
  text-align: center;
}

