@import "mixin";
@font-face {
  font-family: Collegiate;
  src: url("fonts/COLLEGIA.ttf");
}

#footer_wrapper {
  position: relative;
  height: 150px;
  width: 1120px;
  margin: 0px auto;
  margin-top: -150px;
  clear: both;
}

#footer {
  width:1045px;
  margin: 40px 20px;
  padding: 20px;
  border-top: 1px dashed #C9C9C9;
  text-align: center;
}
#ribbon_wrapper {
  font-size: 14px;
  float: left;
  position: relative;
  margin:0;
  padding:0;
  clear: both;
  bottom: 150px;
  height: 150px;
  width: 150px;
  overflow: hidden;
}
.ribbon {
  background: @blue - #222;
  background: -moz-radial-gradient(@blue, @blue - #222);
  background: -webkit-gradient(radial, center center, 0, center center, 95, from(@blue), to(@blue - #222));
  overflow: hidden;
  /* top left corner */
  position: absolute;
  left: -38px;
  top: 75px;
  width: 200px;
  /* 45 deg ccw rotation */
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-box-shadow: 0 0 1em #888;
  -webkit-box-shadow: 0 2px 8px #888, 0 -2px 8px #888;
}
.ribbon a {
  border: 1px solid #213454;
  color: #fff !important;
  display: block;
  font: bold 81.25% 'Helvetiva Neue', Helvetica, Arial, sans-serif;
  margin: 0.05em 0 0.075em 0;
  padding: 0.5em 3.5em;
  text-align: center;
  text-decoration: none !important;
  /* shadow */
  text-shadow: 0 0 0.5em #444;
}
