@import "base";

#map_and_comment_container {
  width: auto;
  float: none;
}

div.show_post, div.suggestion_text {
  width: auto;
  padding: 0;
  margin: 0;
  float: none;
}

#comment_body {
  width: auto;
}

#container {
  width: auto;
  margin: 1em;
}

#map_canvas_for_post {
  clear: both;
}

input[type="text"], textarea {
  width: 98%;
}
