@wrapper_side :url("/images/solid_green.png") repeat-x scroll 0 0 transparent;
@wrapper_center:url("/images/header_green.png") no-repeat scroll 40px 0 transparent;

@sub_wrapper_side :url("/images/solid_blue.png") repeat-x scroll 0 0 transparent;
@sub_wrapper_center:url("/images/sub_header_blue.png") no-repeat scroll 40px 0 transparent;

@full_screen_height: 100px;
@index_height: 100px;
#sub_header_wrapper {
  background: @sub_wrapper_side;
  height: @full_screen_height;
  overflow: hidden;
}

#sub_header {
  background:@sub_wrapper_center;
  height: @full_screen_height;
  margin:0 auto;
  position:relative;
  width:1120px;
  color: #FFF;
  a {
    color: #FFF;
    outline: none;
    text-decoration: none;
    :hover {text-decoration: underline;}
    :focus {text-decoration: underline;}
    :visited {color: #FFF;}
  }
}
.index {
  height: @index_height !important;
}
#header_wrapper {
  background: @wrapper_side;
  height: 122px;
  overflow: hidden;
}
#header {
  background:@wrapper_center;
  height:122px;
  margin:0 auto;
  position:relative;
  width:1120px;
}
#header-logo {
  background:url("/images/nomads.png") no-repeat scroll 0 0 transparent;
  display:block;
  height:81px;
  margin-left: 20px;
  position:absolute;
  margin-top:23px;
  width: 400px;
}
#navigation {
  position: absolute;
  right: 15px;
  top: 38px;
  width: 400px;
  li {
    float: right;
    height: 43px;
  }
  li a {
  color: #FFFFFF;
  display: block;
  font-size: 15px;
  height: 43px;
  line-height: 43px;
  padding: 0 14px;
  text-shadow: 0 1px 1px #213454;
  }
}


