@import "mixin";
@full_screen_height: 100px;
@index_height: 100px;


#sub_header_wrapper {
  height: @full_screen_height;
  overflow: hidden;
  .sub_header_gradient();
}

#sub_header {
  height: @full_screen_height;
  margin:0 auto;
  position:relative;
  color: #FFF;
  width: 1120px;
  a {
    color: #FFF;
    outline: none;
    text-decoration: none;
    :hover {
      text-decoration: none; 
      background: #FFF;
      color: #222;
    }
    :focus {text-decoration: underline;}
  }
}
.index {
  height: @index_height !important;
}
#header_wrapper {
  .header_gradient();
  height: 122px;
  overflow: hidden;
}
#header {
  height:122px;
  margin:0 auto;
  position:relative;
  width:1120px;
  h1 {
    font-family: 'Candal', sans !important; 
    font-style: normal; 
    font-size: 70px;
    font-weight: bold;
    opacity: 0.5;
    float: left;
    margin: 0;
    padding: 50px 0 0 20px;
  }
}
#header-logo {
  display:block;
  height:81px;
  margin-left: 20px;
  position:absolute;
  margin-top:23px;
  width: 400px;
}
#navigation {
  position: absolute;
  right: 16px;
  top: 75px;
  width: 400px;
  li {
    float: right;
  }
  li a {
    color: #FFF;
    display: block;
    font-size: 15px;
    padding: 3px 6px;
    margin: 0 6px;
    text-shadow: 0 1px 1px #213454;
    :hover {
      .rounded_corners(4px);
      background-color: #000;
      text-decoration: none;
    }
  }
}

