.rounded_corners (@radius: 10px) {
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
    border-radius: @radius;
}

.sortable_basic_style(@color: #274B9C) {
  color: #DDD;
  background: @color;
  margin: 0 5px 5px 5px; 
  padding: 5px; 
  font-size: 1.2em; 
}
