.suggestion_text {
  margin: 20px 40px;
  width: 400px;
  float: left;
  p {
    margin: 14px 0;
  }
}

#map_canvas {
  margin: 30px 0;
  width: 350px;
  height: 350px;
  float: left;
}

.listing_suggestions, .listing_posts {
  padding: 20px 0;
}
