@import "mixin";
#suggestion_errors {
  color: #D33;
  display: none;
  ul {
    list-style: disc outside none;
    padding: 0 15px;
    li {
      padding: 0px 5px 2px 0px;
    }
  }
}
#suggestion_content {
  width: 410px;
}
#suggestion_title {
  width: 220px;
}
.latlon_display {
  width: 66px;
}
.suggestion_text {
  margin: 20px 40px;
  width: 648px;
  float: left;
  p {
    margin: 14px 0;
  }
}
.make_suggestion {
  background: @blue - #222;
  padding: 5px 8px;
  .rounded_corners(3px);
}
.edit_and_delete_links {
  width: 42px;
}
.suggestion_show {
  padding: 20px;
  width: 600px;
  float: left;
}
.suggestion:nth-child(even) {
  background: #eee;
}
.user:nth-child(even) {
  background: #eee;
}
.activity_item:nth-child(even) {
  background: #eee;
  background: -webkit-gradient(linear, 50% center, right center, from(#eee), to(#fff));
}
