@import "mixin";

#twitter_t {
   width: 445px;
   height: 34px;
   background-image:url("your top image");
}

#twitter_m {
   width: 415px;
   padding: 0 15px;
   background:url("your middle image")  0 0 repeat-y;
}

#twitter_container {
  float: left;
  width: 250px;
  padding: 20px;
}

#twitter_update_list {
    width: 230;
}

#twitter_update_list li {
  .rounded_corners;
  background: #323232;
  color: #F5F5F5;
  padding: 10px;
  margin: 10px 0;
  width: 230px;
  p {
  margin: 0;
  }
}

#twitter_update_list li a {
    color: #5f6d76;
    border-bottom: dotted 1px;
    text-decoration: none;
}

#twitter_update_list li a:hover {
    color: #31353d;
    background: #d3f1f9;
}

#twitter_b {
   width: 445px;
   height: 29px;
   background-image:url("your bottom image");
}

