@import "mixin";

@tweet_dark: #323232;
@tweet_light: #F5F5F5;

.twitter-logo {
  background:url("/images/logo-twitter.jpg") no-repeat scroll left top transparent;
}

#twitter_container {
  float: left;
  width: 250px;
  padding: 20px;
}

#twitter_update_list {
  width: 230;
  li {
    .rounded_corners;
    padding: 10px;
    margin: 10px 0;
    width: 230px;
    a {
      color: #556C87;
      border-bottom: dotted 1px;
      text-decoration: none;
    }
    a:hover {
      color: #31353d;
      background: #d3f1f9;
    }
  }
}

.bensonk42 {
  background: @tweet_dark;
  color: @tweet_light;
}
.lashleigh {
  background: @tweet_light;
  color: @tweet_dark;
}
