<div id="footer_wrapper">
  <div id="footer">
    Do we need a footer?  <br>
    What would we put down here? <br>
    Footers, much like <%= link_to "bow ties", "http://en.wikipedia.org/wiki/Bow_ties" %>, are cool.
  </div>
</div>
<div id="ribbon_wrapper">
  <div class="ribbon">
    <a href="http://github.com/lashleigh/nomads" rel="me">Fork me on GitHub</a>
  </div>
</div>
