<div id="footer_wrapper">
  <div id="footer">
    Do we need a footer?  <br>
    What would we put down here? <br>
    Footers, much like <%= link_to "bow ties", "http://en.wikipedia.org/wiki/Bow_ties" %>, are cool.
  </div>
</div>
