<h2> Recent Posts </h2>

<% @posts.each do |post| %>
  <h3><%=h post.title %></h3>
  <p>Published <%=h post.created_at.to_formatted_s(:short) %> by <%=h post.name %> </p>
  <p><%=h post.content %></p>
<% end %>

<br />

