<div id="twitter_container">
  <div id="column_header">
    <h2> Recent Tweets </h2>
    <a id="column-logo" class="twitter-logo" href="http://twitter.com/bikenomad/bikenomad">Follow us on twitter</a>
  </div>
  <ul id="twitter_update_list"></ul>
</div>
<script type="text/javascript" src="http://api.twitter.com/1/bikenomad/lists/bikenomad/statuses.json?callback=twitterCallback2&amp;count=18"></script>



