<div id="twitter_container">
  <div id="column_header">
    <h2> Recent Tweets </h2>
  </div>
  <ul id="twitter_update_list"></ul>
</div>
<script type="text/javascript" src="http://twitter.com/javascripts/blogger.js"></script>
<script type="text/javascript" src="https://twitter.com/statuses/friends_timeline/170216889.json?callback=twitterCallback2&amp;count=10"></script>



