
<div id="twitter">
  <div id="column_header">
    <h2> Recent Tweets </h2>
    <a id="column-logo" class="twitter-logo" href="">Follow Benson on Twitter</a>
  </div>
</div>
<script type="text/javascript">
  $.getJSON('http://twitter.com/status/user_timeline/15141419.json?count=10&callback=?', function(data){
      $.each(data, function(index, item){
        $('#twitter').append('<div class="tweet"><p>' + item.text + '<br/><br/>' + item.created_at + '</p></div>');
        });
      });
</script>
