<%= render :partial => "/home/header" %>

<div id = "container">
  <div id = "about_intro">
    <h1> So, you want to know more about us? </h1>
    <p> It just seems like a really really good idea. </p>
  </div>
  <div class = "about">
    <h2> About Ashleigh </h2>
    <p> 
  </div>
  <div class = "about">
    <h2> About Benson </h2>
  </div>
</div>

<%= render :partial => "/home/footer" %>

