<div id = "about_intro">
  <h1> So, you want to know more about us? </h1>
  <p> No, not really. I just wanted to see your trip stats. </p>
  <p> In that case, you could check out our facts and figures or the map. </p>
</div>
<div class = "about">
  <h2><%= link_to "About Ashleigh", "http://hi.im/ashleigh" %></h2>
  <p> 
    Ashleigh, having studied both math and physics, is good at everything.  She
    understands how the universe works, and can learn any skill she needs to
    get a job done.  Also, she likes to ride bikes. 
  </p>
</div>
<div class = "about">
  <h2><%= link_to "About Benson", "http://hi.im/bensonk" %></h2>
  <p class="about_benson">
    Benson is a programmer by trade, and grew up with a love of the outdoors.
    He was born and raised in Port Angeles, WA, and went to school at
    <%= link_to "Western Washington University", "http://www.wwu.edu/" %>
    in Bellingham, WA.  He worked for <%= link_to "Pacific Northwest National
    Lab", "http://www.pnl.gov/" %> (in the Battelle Seattle Research Center)
    for nearly two years before embarking upon this adventure.  He hates
    writing about himself in the third person. 
  </p>
</div>
