<div id = "about_intro" style = "display:none;">
  <h1> So, you want to know more about us? </h1>
  <p> Fantastic! Here are some very short bios.  </p>
</div>
<div class = "about trip">
  <h2> The Trip </h2>
  <p>
  The plan is to ride our bike all around the United States; carry our own gear, camp out and 
  see as much of our country as we can manage. Starting in Port Angeles, WA we will ride south 
  perhaps as far as San Diego, CA. Then we will head east to Florida and stay in Florida for most 
  of the winter. We hope to hitch a ride on a boat out into the Bahamas for some of this time. 
  Once the east coast is warm enough to ride (~March) we will start heading north as far as New York. 
  Then we will go west back toward Washington. It is basically a big square and with all of the small 
  side trips we have planned it will end up being at least 10,000 miles (16,000 km). 
  </p>
</div>
    
<div class = "about">
  <h2><%= link_to "About Ashleigh", "http://hi.im/ashleigh" %></h2>
  <p> 
    Ashleigh, having studied both math and physics, is good at everything.  She
    understands how the universe works, and can learn any skill she needs to
    get a job done.  Also, she likes to ride bikes.</p><p> Ashleigh doesn't like writing 
    about herself and now regrets asking Benson to do it for her, since it all comes 
    off a bit conceited. 
  </p>
</div>
<div class = "about">
  <h2><%= link_to "About Benson", "http://hi.im/bensonk" %></h2>
  <p class="about_benson">
    Benson is a programmer by trade, and grew up with a love of the outdoors.
    He was born and raised in Port Angeles, WA, and went to school at
    <%= link_to "Western Washington University", "http://www.wwu.edu/" %>
    in Bellingham, WA.  He worked for <%= link_to "Pacific Northwest National
    Lab", "http://www.pnl.gov/" %> (in the Battelle Seattle Research Center)
    for nearly two years before embarking upon this adventure.  He hates
    writing about himself in the third person. 
  </p>
</div>
