<div id = "container">
  <div id = "about_intro">
    <h1> So, you want to know more about us? </h1>
    <p> No, not really. I just wanted to see your trip stats. </p>
    <p> In that case, you could check out our facts and figures or the map. </p>
  </div>
  <div class = "about">
    <h2> About Ashleigh </h2>
    <p> 
  </div>
  <div class = "about">
    <h2> About Benson </h2>
  </div>
</div>
