<div class="listing_posts">
  <h1>
    <% if admin %>
      <span id="new_post_link"><%= link_to 'New Post', new_post_path %></span>
    <% end %>
  </h1>

  <% if admin and not @unpublished.empty? %>
  <div class="unpublished_post" style="border:1px dotted red">
    <%= render :partial => 'summary', :collection => @unpublished %>
  </div>
  <% end %>
  <%= render :partial => 'summary', :collection => @posts %>
</div>
