<div class="flickr">
  <ul>
    <% photos.each do |row| -%>
      <li>
      <% row.each do |p| %>
        <%= link_to(image_tag(p.url(:small ), :class => 'flickr_photo', :title => p.title, :border => 0), p.url_photopage) %>
      <% end %>
      </li>
    <% end -%>
  </ul>
</div>

