<div id="sub_header_wrapper"> 
  <div id="sub_header">
    <div id="map_explanation">
      <h4> You can help us make the most of our adventure by
        <%= link_to "suggesting", "#", {:class => "make_suggestion"} %>
        places to visit.
      </h4>

      <div id="search_box">
        <input type="text" id="queryInput" placeholder="Search" style="width: 250px;"/>
        <input id="dosearch" type="button" value="Find"/>
        <input id="clearsearch" type="button" value="Clear"/>
      </div>
      <ul id="sub_header_icons", class="no_dot_list">
        <% Icon.all.each do |icon| %>
          <li class="selected"> <%= image_tag(icon.marker_url, :title => icon.name, :border => 0, :alt => icon.name) %> </li>
        <% end %>
      </ul>
    </div>
  </div> 
</div>

