<div id="container">
  <div id="map_explanation">
    <p> Please help us make the most of our adventure by suggesting places to visit. </p>
    <p> <%= link_to "Make a suggestion?", "#", { :id => "make_suggestion" } %> </p>
  </div>
  <div id="search_box">
    <input type="text" id="queryInput" placeholder="Search" style="width: 250px;"/>
    <input id="dosearch" type="button" value="Find"/>
  </div>
  <script type="text/javascript">
    var images = <%= @photos.to_json %>;
    var suggestions = <%= @suggestions.to_json %>;
  </script>
  <div id="map_canvas"></div>
  <div id="searchwell"></div>

</div>

<div id="photo_preload">
  <ul>
    <% @photos.each do |photo| %>
      <li><%= image_tag photo["url"] %></li>
    <% end %>
  </ul>
</div>
