<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"></script>
<script type="text/javascript">
  $(function() {
    $("#sortable_waypoints, #sortable_suggestions").sortable({
      connectWith: '.connectedSortable',
      placeholder: 'ui-state-highlight'
    });
    $("#sortable").disableSelection();
  });
</script>

<div class="demo">
  <ul id="sortable_waypoints" class="connectedSortable" >
    <% @waypoints.each do |w| %>
      <li>
      <%= w.suggestion.title %>
      </li>
    <% end %>
  </ul>
  <ul id="sortable_suggestions" class="connectedSortable" >
    <% @suggestions.each do |s| %>
      <li>
      <%= s.title %>
      </li>
    <% end %>
  </ul>

</div><!-- End demo -->

